*{
	-webkit-text-size-adjust: none;
	margin: 0;
	padding: 0;
}
button{
	border: 0;
}
p{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;
	float: left;
}

select {
	border: 0 !important;  /*Removes border*/
	appearance:none;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: #ECF0F5 no-repeat;  /*Adds background-image*/
	/*My custom style for fonts*/
	line-height: 15px;

	color: #3B3B3B;
}
select::-ms-expand { display: none; }
/* 标题字体样式 */
.font_color_title{
	color: black;
	font-size: 23px;
	line-height: 28px;
	margin-left: 10px;
}
/*   选择代理商   下字体样式 */
.font_color_1{
	font-size: 14px;
	color: #3B3B3B;
	margin-left: 5px;
}
.font_color_2{
	color: #FFFFFF;/* 白色 */
}
.font_size_1{
	font-size: 12px;
}
.font_color_3{
	color: #585855;
}
.font_size_3{
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}
.font_color_4{
	color: #7C5246;

}
.danshu_style{
	font-size: 23px;
	font-weight: 600;
	line-height: 23px;
	margin-top: 5px;
}
.danshu_style font{
	font-size: 12px;
	padding-left: 5px;
}
.condition1 li{
	margin: 0;
	float: left;
	width: 32%;
	text-align: center;
}

.condition1 li div i{
	margin-left: 2px;
	font-weight: 500;
	font-size: 20px;
	width: 20px;
	line-height: 22px;

}
.condition1 li i{
	font-weight: 500;
	font-size: 16px;
	width: 20px;
	line-height: 20px;
}
.condition1 li input{
	width: 90%;
	background: none;
	border: 2px solid #A9A9A9;
	padding-left: 5px;
	border-radius: 2px;
	color:#3B3B3B;
}
.condition2 li{
	margin: 0;
	float: left;
	width: 50%;
	text-align: center;
}
.condition2 li div i{
	margin-left: 2px;
	font-weight: 500;
	font-size: 20px;
	width: 20px;
	line-height: 22px;

}
.condition2 li input{
	width: 90%;
	background: none;
	border: 2px solid #A9A9A9;
	padding-left: 5px;
	border-radius: 2px;
	color:#3B3B3B;
}
.paiming_top{
	height: 12%;
	width: 100%;
}
.paiming_top_border{
	height: 55px;
	background: #D48265;
	border: 1px solid #D48265;
	text-align: center;
	border-radius:4px;
	margin: auto;
    margin-top:5px;
}
.paiming_button{
	background: #F7A043;
	float: right;
	color: white;
	margin-right: 19%;
	font-size: 13px;
	border-radius: 2px;
	padding: 3px 8px;
}
.visual_form_top_box {
	width: 100%;
	height: 43%;
}
.visual_form_bottom_box {
	width: 100%;
	height: 56%;
}
.visual_form1_bottom {
	width: 100%;
	height: 50%;}
.visual_form_box{
	width: 48%;
	height: 100%;
	float: left;
}
/*.visual_form_box div{
	display: inline-block;
}*/
.baodan_left{
	width: 58%;
	height: 100%;
	float: left;
}
.baodan_right{
	width: 38%;
	height: 100%;
	float: left;
}
.baodan_right_1{
	width: 48%;
	height: 100%;
	float: left;
}
.paiming_bottom_border{
	height: 67px;
	background: #D48265;
	border: 1px solid #D48265;
	text-align: center;
	border-radius:4px;

}
.visual_form2_box{
	width: 100%;
	height: 48%;
}
.form2_box{
	width: 52%;
	height: 100%;
	float: left;
}
.form2_box1{
	width: 44%;
	height: 100%;
	float: left;
}
.form2_box_1{
	width: 48%;
	height: 100%;
	float: left;
}
.form2_box_2{
	width: 51%;
	height: 100%;
	float: left;
}
.form2_box_left{
	width: 98%;
	height: 100%;
	float: left;
}
.form2_box_right{
	width: 38%;
	height: 100%;
	float: left;
}

.graph_statistics_content{
	height: 55px;
	text-align: center;
	border-radius:4px;
}




/* 表格排名样式 */

.paiming_table{
	margin-top:5%;
	width: 100%;
}
.paiming_table_style{
	width: 90%;
	margin: auto;

}
.paiming_table_style th{
	font-size: 13px;
	width: 100px;
}
.paiming_table_style tr{
	height: 35px;
}
.paiming_table_style th:last-child,th:first-child{
	color:#000000;
	font-weight:400;
}
.paiming_table_style td:last-child,td:first-child{
	font-size: 14px;
}
.paiming_table_style th:last-child,td:last-child{
	text-align: left;
}
.paiming_table_style th:first-child,td:first-child{
	text-align: right;
}

.paiming_table_style .font_color_4{
	text-align: center;
	width: 35px;
}
.paiming_table_style  .asdf{
	width: 40px;
}
.paiming_table_style tr td:nth-child(3){
	width: 32px;
	text-align: center;
}


/* 逾期率排行 */
.graph_overdue_center{
	height: 60%;
	width: 90%;
	margin-left: 5%;
	font-size: 13px;
}
.graph_overdue_center th{
	color:#424a66;
	text-align: center;
}
.yuqigd td{
	padding-top: 5px
}
.graph_overdue_center td{
	text-align: center;
}
.graph_overdue_center td:first-child{
	color: #6A5046;
	padding-right: 2px;
}
.graph_overdue_center td:last-child{
	color: #ED2C39;
	padding-left: 2px;
}
.graph_overdue_right{
	width: 100%;
	height: 25px;
}
.graph_overdue_right .font_color_3{
	padding-top: 5px;
}
.graph_overdue_right li{
	display: inline-block;
	float: left;
	font-size: 12px;
	width: 24%;
}
/* 排名序号 */
.paiming_rank{
	width: 22px;
	height: 22px;
	border-radius: 50%;
	color: white;
	background:#F73E05;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	margin: auto;
}

/*切换按钮*/
.qiehuanbutton{
	position: fixed;
	font-weight: 500;
	right: 20px;
	top: 40%;
	width: 32px;
	height:54px;
	border-radius:3px;
	text-align:center;
	background:#F7A043;
	line-height: 27px;
	font-size: 16px;
	color: #fff;
}