
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1482498891104'); /* IE9*/
  src: url('iconfont.eot?t=1482498891104#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482498891104') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482498891104') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482498891104#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zoom:before { content: "\e61b"; }

.icon-back:before { content: "\e608"; }

.icon-time:before { content: "\e610"; }

.icon-shezhi:before { content: "\e625"; }

.icon-kuaisu:before { content: "\e611"; }

.icon-right:before { content: "\e606"; }

.icon-zhou:before { content: "\e640"; }

.icon-pinggu:before { content: "\e65d"; }

.icon-gujia:before { content: "\e685"; }

.icon-tuichou:before { content: "\e69a"; }

.icon-lajitong:before { content: "\e61a"; }

.icon-benyue:before { content: "\e61c"; }

.icon-caogaoxiang:before { content: "\e601"; }

.icon-xinjian:before { content: "\e643"; }

.icon-zhuanye:before { content: "\e680"; }

.icon-saoma:before { content: "\e644"; }

.icon-xuanze:before { content: "\e7bd"; }
